<!-- <div class="options">
    <h2>Options :</h2>
    <ul>
        <li><label id="file"><input type="checkbox">Sauvegarder le fichier </label></li>
    </ul>
    <a href="" id="export-jpg" class="btn" download="map.jpg" target="_new" (click)="printControl.print({ imageType: 'image/jpeg'})">Export JPEG</a> <br>
    <a href="" id="export-png" class="btn" download="map.png" target="_new" (click)="printControl.print({ imageType: 'image/png'})">Export PNG</a> <br>
    <a href="" id="export-pdf" class="btn" download="map.pdf" target="_new" (click)="printControl.print({ imageType: 'image/pdf'})">Export PDF</a> <br>
</div>
<div id="image">
    <h2>Resulting image</h2>
    <img >
</div> -->